absl-py  
aiohappyeyeballs  
aiohttp  
aiosignal  
alembic  
annotated-types  
anyio  
astunparse  
async-timeout  
asyncio  
attrs  
bcrypt  
bidict  
blinker  
certifi  
cffi  
charset-normalizer  
click  
coinbase  
colorama  
contourpy  
cryptography  
cycler  
dateparser  
decorator  
distro  
dnspython  
dotenv  
email_validator  
exceptiongroup  
Flask  
Flask-Bcrypt  
Flask-Cors  
Flask-Login  
Flask-Mail  
Flask-Migrate  
Flask-SocketIO  
Flask-SQLAlchemy  
Flask-WTF  
flatbuffers  
fonttools  
frozenlist  
gast  
google-pasta  
greenlet  
grpcio  
h11  
h5py  
httpcore  
httpx  
idna  
imageio  
imageio-ffmpeg  
importlib_metadata  
importlib_resources  
itsdangerous  
Jinja2  
jiter  
joblib  
keras  
kiwisolver  
libclang  
lxml  
Mako  
Markdown  
markdown-it-py  
MarkupSafe  
matplotlib  
mdurl  
ml-dtypes  
moviepy  
multidict  
namex  
narwhals  
numpy  
openai  
opt_einsum  
optree  
packaging  
pandas  
pillow  
pip  
plotly  
proglog  
propcache  
protobuf  
psycopg2-binary  
pycparser  
pycryptodome  
pydantic  
pydantic_core  
Pygments  
pyotp  
pyparsing  
python-binance  
python-dateutil  
python-docx  
python-dotenv  
python-engineio  
python-socketio  
pytz  
qrcode  
regex  
requests  
scikit-learn  
scipy  
seaborn  
setuptools  
simple-websocket  
six  
sniffio  
SQLAlchemy  
termcolor  
threadpoolctl  
tqdm  
urllib3  
websockets  
Werkzeug  
wheel  
wrapt  
wsproto  
WTForms  
yarl  
zipp  
keras
Flask
tensorflow-cpu
cryptography
