{% extends "base.html" %}
{% block content %}
<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
<a href="{{ url_for('create_thread', category_id=category.id) }}" class="btn btn-primary">Create Thread</a>
<div class="threads">
    {% for thread in threads %}
    <div class="thread">
        <h3><a href="{{ url_for('forum_thread', thread_id=thread.id) }}">{{ thread.title }}</a></h3>
        <p>By {{ thread.user.username }} on {{ thread.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
