{% extends "base.html" %}

{% block sstyle %}
<style>
    .categories {
        padding: 30px;
        margin-top: 80px; /* Adjust this value based on the height of your navigation bar */
    }

    .category {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .category h2 {
        margin-top: 0;
        color: #333;
    }

    .category p {
        color: #666;
    }

    .category a {
        text-decoration: none;
        color: #007bff;
    }

    .category a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<h1>Forum</h1>
<div class="categories">
    {% for category in categories %}
    <div class="category">
        <h2><a href="{{ url_for('forum_category', category_id=category.id) }}">{{ category.name }}</a></h2>
        <p>{{ category.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
